<!DOCTYPE html>
<html lang="en">
  <head>
{{> header }}
  </head>
  <body>
    <a class="sr-only" href="#content">Skip to main content</a>
    <!-- Main nav -->
{{> nav-main }}
    <div class="container">
{{> body }}
    </div>
    <footer class="footer" role="contentinfo">
      <div class="container">
      </div>
    </footer>
{{> footer }}
  </body>
</html>